p{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(250, 235, 215);
}

.main{
    display: flex;
}

.box{
    background-color: rgb(250, 220, 200);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(194, 171, 155);
    border-left: 8px solid rgb(255, 132, 118);
}

.title{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: 0px;
    font-size: 45px;
    color: rgb(36, 71, 71);
}

.desc{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

input{
    width: 300px;
    height: 32px;
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

button{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}

.loginbutton{
    width: 308px;
    height: 30px;
    font-weight: bold;
}