p{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(178, 218, 233);
}

.main{
    display: flex;
}

.aligncenter{
    text-align: center;
}

.box{
    background-color: rgb(152, 205, 226);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 0px 8px rgb(40, 104, 129);
    border-left: 8px solid rgb(73, 81, 121);
    color: rgb(7, 11, 22);
    border-radius: 10px;
}

.title{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: 0px;
    font-size: 45px;
    color: rgb(0, 28, 111);
}

.desc{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

input{
    width: 300px;
    height: 20px;
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(23, 145, 194);
    transition-duration: 20ms;
}

input:focus{
    outline: 2px solid rgb(23, 145, 194);
}

button{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    margin: 5px;
    display: inline;
}

a{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
}
.forgotpw{
    color: rgb(25, 98, 158);
    text-decoration: none;
}

.forgotpw:hover{
    text-decoration: underline;
}

.loginbutton{
    width: 97%;
    font-weight: bold;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(86, 95, 143);
    color: rgb(0, 28, 111);
    margin-top: 10px;
    transition-duration: 200ms;
}

.loginbutton:hover{
    background-color: rgb(78, 86, 128);
}

.registerbutton{
    width: 50%;
    font-weight: bold;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(225, 200, 153);
    color: rgb(17, 48, 48);
    margin-top: 10px;
    transition-duration: 200ms;
    font-size: 15px;
}

.registerbutton:hover{
    background-color: rgb(221, 193, 140);
}

.navbar-items{
    display: inline;
    float: left;
    padding-left: 10px;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.signbtn{
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: rgb(100, 177, 207);
    border: none;
    border-radius: 15px;
    width: 100px;
    outline: none;
    transition: 100ms;
}

.signbtn:hover{
    background-color: rgb(152, 205, 226);
}